{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="page-5">
  <img class="icon16" alt="" src="{% static 'public/41-1@2x.png' %}" /><img
    class="icon17"
    alt=""
    src="{% static 'public/4-2@2x.png' %}"
  /><img class="icon18" alt="" src="{% static 'public/44444444444-1@2x.png' %}" /><img
    class="icon19"
    alt=""
    src="{% static 'public/4444444444-5@2x.png' %}"
  /><img class="icon20" alt="" src="{% static 'public/44444444-445@2x.png' %}" /><img
    class="icon21"
    alt=""
    src="{% static 'public/444-44444445@2x.png' %}"
  /><img class="icon22" alt="" src="{% static 'public/444444444444444-1@2x.png' %}" /><img
    class="icon23"
    alt=""
    src="{% static 'public/44444444444-4445@2x.png' %}"
  /><img
    class="icon24"
    alt=""
    src="{% static 'public/44444444444444444444-1@2x.png' %}"
  /><img class="icon25" alt="" src="{% static 'public/4444444-44444445@2x.png' %}" /><img
    class="icon26"
    alt=""
    src="{% static 'public/4444444444444-4444445@2x.png' %}"
  /><img
    class="icon27"
    alt=""
    src="{% static 'public/44444444444444-444445@2x.png' %}"
  /><img
    class="icon28"
    alt=""
    src="{% static 'public/444444444444444-44445@2x.png' %}"
  /><img class="icon29" alt="" src="{% static 'public/42-1@2x.png' %}" /><img
    class="icon30"
    alt=""
    src="{% static 'public/44444444444444444-445@2x.png' %}"
  /><img class="icon31" alt="" src="{% static 'public/444444444444-44444445@2x.png' %}" />
  <div class="page-5-child"></div>
  <div class="thank-you">Thank You!</div>
  <div class="ruks">{{name}}</div>
  <i class="check-your-mail" style="font-size: 11px;">Don't Forget To Check Your Email</i>
</div>

{% endblock %}