{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="page-3">
  <button class="page-3-child"></button
  ><button class="page-3-item"></button>
  <div class="page-3-inner"></div>
  <div class="yes3"><a href="{% url 'acceptence' %}" style="text-decoration: none; color: black;">Yes</a></div>
  <div class="no3"><a href="{% url 'denial3' %}" style="text-decoration: none; color: black;">No</a></div>
  <div class="will-you-go3">Will you go on a date with me?</div>
  <div class="hi-momo3">Hi, Momo</div>
  <img class="aaaa-icon2" alt="" src="{% static 'public/aaaa@2x.png' %}" /><img
    class="aaaaa-1-icon2"
    alt=""
    src="{% static 'public/aaaaa-1@2x.png' %}"
  /><img class="aa-1-icon2" alt="" src="{% static 'public/aa-1@2x.png' %}" /><img
    class="aaa-1-icon2"
    alt=""
    src="{% static 'public/aaa-1@2x.png' %}"
  /><img class="a-1-icon2" alt="" src="{% static 'public/a-1@2x.png' %}" /><img
    class="b-1-icon1"
    alt=""
    src="{% static 'public/b-1@2x.png' %}"
  /><img class="bbbbb-1-icon1" alt="" src="{% static 'public/bbbbb-1@2x.png' %}" /><img
    class="bbbbbbb-1-icon1"
    alt=""
    src="{% static 'public/bbbbbbb-1@2x.png' %}"
  /><img class="bbbbbb-1-icon1" alt="" src="{% static 'public/bbbbbb-1@2x.png' %}" /><img
    class="bbbb-1-icon1"
    alt=""
    src="{% static 'public/bbbb-1@2x.png' %}"
  /><img class="bbb-1-icon1" alt="" src="{% static 'public/bbb-1@2x.png' %}" /><img
    class="bb-1-icon1"
    alt=""
    src="{% static 'public/bb-1@2x.png' %}"
  /><img class="c-1-icon" alt="" src="{% static 'public/c-1@2x.png' %}" /><img
    class="cccccc-1-icon"
    alt=""
    src="{% static 'public/cccccc-1@2x.png' %}"
  /><img class="ccccccc-1-icon" alt="" src="{% static 'public/ccccccc-1@2x.png' %}" /><img
    class="cccc-1-icon"
    alt=""
    src="{% static 'public/cccc-1@2x.png' %}"
  /><img class="ccc-1-icon" alt="" src="{% static 'public/ccc-1@2x.png' %}" /><img
    class="cc-1-icon"
    alt=""
    src="{% static 'public/cc-1@2x.png' %}"
  />
</div>

{% endblock %}
